
module gitlab-runner-b 1.0;

require {
	type unlabeled_t;
	type container_t;
	class file read;
}

#============= container_t ==============
allow container_t unlabeled_t:file read;
